<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Otobüs Bileti - Obilet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ObiletBusWeb.styles.css" asp-append-version="true" />

    <link href="~/lib/bootstrap/datepicker/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/datepicker/bootstrap-datepicker3.standalone.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
           
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery/dist/datepickerlocales/bootstrap-datepicker.tr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
